workflows/full_automation.json
{
  "name": "Full Campaign Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "triggerAtMinute": 30}]
        }
      },
      "name": "30min Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [200, 300],
      "id": "trigger-30min",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://app:8000/api/collect",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Collect Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 300],
      "id": "collect-data",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "http://app:8000/api/alerts",
        "method": "GET",
        "options": {}
      },
      "name": "Check Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 300],
      "id": "check-alerts",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total_alerts}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "position": [800, 300],
      "id": "has-alerts",
      "typeVersion": 1
    },
    {
      "parameters": {
        "webhookUrl": "={{$env.SLACK_WEBHOOK_URL}}",
        "text": "🚨 Campaign Alerts Found",
        "attachments": [
          {
            "color": "#ff0000",
            "fields": {
              "values": "={{$json.alerts}}"
            }
          }
        ]
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [1000, 200],
      "id": "send-slack",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "triggerAtHour": [8, 14, 20]}]
        }
      },
      "name": "Insights Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [200, 500],
      "id": "trigger-insights",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://app:8000/api/insights",
        "method": "GET",
        "options": {}
      },
      "name": "Get Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 500],
      "id": "get-insights",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "http://app:8000/api/optimize",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"total_budget\": 5000}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Optimize Bids",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 500],
      "id": "optimize-bids",
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "30min Trigger": {
      "main": [[{"node": "Collect Data", "type": "main", "index": 0}]]
    },
    "Collect Data": {
      "main": [[{"node": "Check Alerts", "type": "main", "index": 0}]]
    },
    "Check Alerts": {
      "main": [[{"node": "Has Alerts?", "type": "main", "index": 0}]]
    },
    "Has Alerts?": {
      "main": [
        [{"node": "Send to Slack", "type": "main", "index": 0}],
        []
      ]
    },
    "Insights Trigger": {
      "main": [[{"node": "Get Insights", "type": "main", "index": 0}]]
    },
    "Get Insights": {
      "main": [[{"node": "Optimize Bids", "type": "main", "index": 0}]]
    }
  }
}